[id="About Me"]{
    color: red;
}
header{
    width: 100vw;
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 100;
    background-color: white;
    box-shadow: 1px 2px 3px -3px black;
}
header>nav>menu{
    position: absolute;
    top: -2px;
    right: 115px;
}
header>nav>menu>li{
    display: inline-block;
    margin: 8px;
}
header>nav>menu>li>a{
    text-decoration: none;
    color: black;
}
header>nav>menu>li>a:hover{
    color: blue;
    text-decoration: underline;
}
header>aside>img{
    margin-top: 13px;
    margin-left: 115px;
}
main{
    position: relative;
    top: 55px;
}
main>:nth-child(1){
    height: 90vh;
}
main>:nth-child(1)>aside>img{
    position: absolute;
    right: 200px;
    top: 164px;
}
main>:nth-child(1)>article>:nth-child(1){
    position: absolute;
    left: 177px;
    top: 160px;
    font-size: 40px;
}
main>:nth-child(1)>article>:nth-child(2){
    position: absolute;
    left: 177px;
    top: 237px;
    font-size: 40px;
}
main>:nth-child(1)>article>:nth-child(3){
    position: absolute;
    left: 177px;
    top: 318px;
    font-size: 24px;
}
main>:nth-child(1)>nav>button{
    position: absolute;
    left: 177px;
    top: 396px;
    border-radius: 20%;
    height: 36px;
    width: 114px;
}
main>:nth-child(1)>nav>button>a{
    text-decoration: none;
    font-size: 15px;
    font-family: "Arial Black";
}
#sosial{
    position: absolute;
    left: 177px;
    top: 465px;
}
main>:nth-child(1)>nav>div{
    display: inline-block;
    margin-right: 8px;
}
