header{
    width: 100vw;
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 2;
    background-color: white;
    box-shadow: 1px 2px 3px -3px black;
}
header>nav>menu{
    position: absolute;
    top: -2px;
    right: 115px;
}
header>nav>menu>li{
    display: inline-block;
    margin: 8px;
}
header>nav>menu>li>a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
header>nav>menu>li>a:hover{
    color: blue;
    text-decoration: underline;
}
header>aside>img{
    margin-top: 13px;
    margin-left: 115px;
}
main{
    position: relative;
    top: 55px;
}
main>:nth-child(1){
    height: 93vh;
    background-color: #eeeeee;
}
main>:nth-child(1)>aside>img{
    position: absolute;
    right: 200px;
    top: 164px;
}
main>:nth-child(1)>article>:nth-child(1){
    position: absolute;
    left: 177px;
    top: 160px;
    font-size: 40px;
}
main>:nth-child(1)>article>:nth-child(2){
    position: absolute;
    left: 177px;
    top: 237px;
    font-size: 40px;
}
main>:nth-child(1)>article>:nth-child(3){
    position: absolute;
    left: 177px;
    top: 318px;
    font-size: 24px;
}
main>:nth-child(1)>nav>button{
    position: absolute;
    left: 177px;
    top: 396px;
    border-radius: 10px;
    height: 36px;
    width: 114px;
}
main>:nth-child(1)>nav>button>a{
    text-decoration: none;
    font-size: 14px;
    font-family: "Arial Black";
}
#sosial{
    position: absolute;
    left: 177px;
    top: 465px;
}
main>:nth-child(1)>nav>div{
    display: inline-block;
    margin-right: 8px;
}
#nav{
    position: absolute;
    top: 0;
    font-size: 0;
}
main>:nth-child(2){
    height: 600px;
    position: relative;
}
#AboutMe{
    display: inline-block;
    position: relative;
    left: 43%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
}
main>:nth-child(2)>h2{
    position: relative;
    display: inline-block;
    left: 448px;
    top: 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
}
main>:nth-child(2)>h3{
    position: relative;
    display: inline-block;
    left: 266px;
    top: 120px;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
}
main>:nth-child(2)>:nth-child(4){
    position: relative;
    display: inline-block;
    left: 90px;
    top: 185px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
main>:nth-child(2)>:nth-child(5){
    position: relative;
    display: inline-block;
    left: 660px;
    top: 134px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
main>:nth-child(2)>:nth-child(6){
    position: relative;
    display: inline-block;
    top: 200px;
    left: 86px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
}
main>:nth-child(2)>:nth-child(7){
    position: relative;
    display: inline-block;
    top: 200px;
    left: 289px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
}
main>:nth-child(2)>:nth-child(8){
    position: relative;
    display: inline-block;
    top: 255px;
    left: -329px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
}
main>:nth-child(2)>:nth-child(9){
    position: absolute;
    display: inline-block;
    top: 416px;
    left: 946px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
}
main>:nth-child(2)>:nth-child(10)>a{
    position: absolute;
    text-decoration: none;
    bottom: 73px;
    left: 662px;
    font-style: revert;
    font-weight: 550;
    font-size: 22px;
    line-height: 24px;
    color: black;
}
main>:nth-child(2)>:nth-child(10)>a:hover{
    color: #ff253a;
    text-decoration: underline;
}
main>:nth-child(2)>aside>img{
    position: absolute;
    top: 110px;
    left: 201px;
    border-radius: 12px;
}
main>:nth-child(3){
    position: relative;
    height: 55vw;
}
main>:nth-child(3)>h1{
    display: inline-block;
    position: relative;
    left: 41%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
}
main>:nth-child(3)>:nth-child(2){
    display: inline-block;
    position: relative;
    top: 201px;
    right: -482px;
    background-color: #45AAF2;
    width: 550px;
    height: 118px;
    border-radius: 50px;
}
main>:nth-child(3)>:nth-child(2)>article>h2{
    position: absolute;
    display: inline-block;
    top: 4px;
    right: 90px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.8);
}
main>:nth-child(3)>:nth-child(2)>article>h3{
    position: absolute;
    display: inline-block;
    top: 30px;
    right: 52px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}
main>:nth-child(3)>:nth-child(2)>article>h4{
    position: absolute;
    display: inline-block;
    top: 50px;
    right: 93px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}
main>:nth-child(3)>:nth-child(2)>img{
    position: absolute;
    top: 20px;
    left: 65px;
}
main>:nth-child(3)>:nth-child(3){
    display: inline-block;
    position: relative;
    top: 351px;
    left: -750px;
    background-color: #45AAF2;
    width: 550px;
    height: 118px;
    border-radius: 50px;
}
main>:nth-child(3)>:nth-child(3)>h2{
    position: absolute;
    display: inline-block;
    top: 12px;
    right: 45px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.8);
}
main>:nth-child(3)>:nth-child(3)>h3{
    position: absolute;
    display: inline-block;
    top: 41px;
    right: 158px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}
main>:nth-child(3)>:nth-child(3)>img{
    position: absolute;
    top: 20px;
    left: 44px;
}
main>:nth-child(3)>:nth-child(4){
    display: inline-block;
    position: relative;
    top: 361px;
    left: 770px;
    background-color: #45AAF2;
    width: 550px;
    height: 118px;
    border-radius: 50px;
}
main>:nth-child(3)>:nth-child(4)>h2{
    position: absolute;
    display: inline-block;
    top: 12px;
    right: 45px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.8);
}
main>:nth-child(3)>:nth-child(4)>h3{
    position: absolute;
    display: inline-block;
    top: 41px;
    right: 158px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}
main>:nth-child(3)>:nth-child(4)>img{
    position: absolute;
    top: 20px;
    left: 44px;
}
main>:nth-child(3)>:nth-child(5){
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 430px;
    background-color: #110F2F;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
main>:nth-child(3)>:nth-child(6){
    position: relative;
    display: inline-block;
    top: 0;
    left: 143px;
    width: 30px;
    height: 30px;
    background-color: #341f97;
    border-radius: 100%;
}
main>:nth-child(3)>:nth-child(7){
    position: relative;
    display: inline-block;
    top: 150px;
    left: 109px;
    width: 30px;
    height: 30px;
    background-color: #341f97;
    border-radius: 100%;
}
main>:nth-child(3)>:nth-child(8){
    position: relative;
    display: inline-block;
    top: 316px;
    left: 75px;
    width: 30px;
    height: 30px;
    background-color: #341f97;
    border-radius: 100%;
}
main>:nth-child(4){
    position: relative;
}
#Skills{
    display: inline-block;
    position: relative;
    left: 47%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
}
main>:nth-child(4)>:nth-child(2){
    position: relative;
    top: 7px;
    left: 100px;
    width: 85vw;
    height: 480px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    border-radius: 30px;
}
main>:nth-child(4)>:nth-child(2)>section{
    position: relative;
    top: 50px;
    left: 55px;
    width: 130px;
    height: 130px;
    border-radius: 20px;
}
main>:nth-child(4)>:nth-child(2)>section>img{
    position: relative;
    top: 13px;
    left: 24px;
}
main>:nth-child(4)>:nth-child(2)>section>p{
    text-align: center;
    font-size: 16px;
}
#What\ i\ can\ do{
    display: inline-block;
    position: relative;
    top: 10px;
    left: 7%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
}
main>:nth-child(4)>:nth-child(4){
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
}
main>:nth-child(4)>:nth-child(4)>section{
    position: relative;
    width: 300px;
    height: 345px;
    background-color: #eeeeee;
    border-radius: 20px;
}
main>:nth-child(4)>:nth-child(4)>section>article>h4{
    position: relative;
    top: 5px;
    left: 22px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
main>:nth-child(4)>:nth-child(4)>section>article>p{
    position: relative;
    top: -15px;
    left: 22px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
}
main>:nth-child(4)>:nth-child(4)>section>img{
    position: relative;
    top: 20px;
    left: 22px;
}
#Gallery{
    display: inline-block;
    position: relative;
    left: 46%;
    top: 44px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: whitesmoke;
}
main>:nth-child(5)>div{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
main>:nth-child(5)>div>:nth-child(1){
    position: relative;
    top: 36px;
    left: 48px;
}
main>:nth-child(5)>div>:nth-child(2){
    position: relative;
    top: 76px;
    left: 38px;
}
main>:nth-child(5)>div>:nth-child(3){
    position: relative;
    top: 36px;
    left: 4px;
}
main>:nth-child(5)>div>:nth-child(4){
    position: relative;
    top: -100px;
    left: 65px;
}
main>:nth-child(5)>div>:nth-child(5){
    position: relative;
    top: 94px;
    left: 5px;
}
main>:nth-child(5)>div>:nth-child(6){
    position: relative;
    top: -100px;
    left: 30px;
}
main>:nth-child(6){
    background-color: #74B9FF;
    position: relative;
    height: 580px;
}
#Certificate{
    display: inline-block;
    position: relative;
    left: 43%;
    top: 15px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
}
main>:nth-child(6)>section{
    position: relative;
    top: 27px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
main>:nth-child(6)>section>div>h4{
    text-align: center;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
main>:nth-child(7){
    position: relative;
    height: 185vh;
}
#Projects{
    display: inline-block;
    position: relative;
    left: 43%;
    top: 15px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
}
main>:nth-child(7)>:nth-child(2)>:nth-child(2)>img{
    position: absolute;
    top: 160px;
    right: 200px;
}
main>:nth-child(7)>:nth-child(2)>:nth-child(1)>h4{
    position: relative;
    top: 5px;
    left: 90px;
    display: inline-block;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
main>:nth-child(7)>:nth-child(2)>:nth-child(1)>p{
    position: relative;
    top: 160px;
    left: -470px;
    display: inline-block;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
main>:nth-child(7)>:nth-child(2)>:nth-child(4)>img{
    position: relative;
    top: 125px;
    left: 742px;
}
main>:nth-child(7)>:nth-child(2)>:nth-child(3)>h4{
    position: relative;
    top: 234px;
    left: 298px;
    display: inline-block;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
main>:nth-child(7)>:nth-child(2)>:nth-child(3)>p{
    position: relative;
    top: 387px;
    right: 15px;
    display: inline-block;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
#Assignment{
    display: inline-block;
    position: relative;
    top: 170px;
    left: 12%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
}
main>:nth-child(7)>:nth-child(3)>:nth-child(2){
    position: absolute;
    bottom: 132px;
    left: 350px;
    width: 300px;
    height: 350px;
    background: rgba(116, 185, 255, 0.4);
    border-radius: 30px;
}
main>:nth-child(7)>:nth-child(3)>:nth-child(3){
    position: absolute;
    bottom: 110px;
    left: 0;
    right: 0;
    margin: auto;
    width: 350px;
    height: 400px;
    background: rgba(116, 185, 255, 0.4);
    border-radius: 30px;
    z-index: 1;
}
main>:nth-child(7)>:nth-child(3)>:nth-child(4){
    position: absolute;
    bottom: 132px;
    right: 350px;
    width: 300px;
    height: 350px;
    background: rgba(116, 185, 255, 0.4);
    border-radius: 30px;
}
main>:nth-child(7)>:nth-child(3)>section>aside>img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
main>:nth-child(7)>:nth-child(3)>:nth-child(3)>h3{
    position: absolute;
    top: 247px;
    left: 90px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
main>:nth-child(7)>:nth-child(3)>:nth-child(2)>h3{
    position: absolute;
    top: 215px;
    left: 75px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
main>:nth-child(7)>:nth-child(3)>:nth-child(4)>h3{
    position: absolute;
    top: 215px;
    left: 75px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
footer{
    position: relative;
    background: rgba(69, 170, 242, 0.4);
    height: 75vh;
}
#Get\ in\ touch{
    display: inline-block;
    position: relative;
    left: 43%;
    top: 15px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
}
footer>:nth-child(2){
    position: relative;
    top: 0;
    left: 140px;
    width: 80vw;
    height: 400px;
    border-radius: 80px;
}
footer>:nth-child(2)>aside>img{
    position: relative;
    top: 65px;
    left: 16px;
}
#Name{
    position: relative;
    top: -240px;
    left: 650px;
    height: 50px;
    width: 400px;
    border-radius: 20px;
}
#Email{
    position: relative;
    top: -240px;
    left: 650px;
    height: 50px;
    width: 400px;
    border-radius: 20px;
}
#Message{
    position: relative;
    top: -240px;
    left: 650px;
    height: 100px;
    width: 400px;
    border-radius: 20px;
}
footer>:nth-child(2)>button{
    position: absolute;
    bottom: 24px;
    right: 100px;
    width: 105px;
    height: 38px;
    background-color: blue;
    border-radius: 50px;
}
footer>:nth-child(2)>button>p{
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
}
footer>:nth-child(3){
    position: relative;
    top: 24px;
    height: 400px;
}
footer>:nth-child(3)>h3{
    position: relative;
    display: inline-block;
    top: 85px;
    left: 154px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
}
footer>:nth-child(3)>article>p{
    position: relative;
    display: inline-block;
    top: 68px;
    left: 154px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 29px;
    color: #FFFFFF;
}
footer>:nth-child(3)>:nth-child(4){
    position: absolute;
    bottom: 190px;
    right: 275px;
}
footer>:nth-child(3)>:nth-child(4)>li>a{
    display: inline-block;
    text-decoration: none;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
footer>:nth-child(3)>:nth-child(3){
    position: absolute;
    display: inline-block;
    top: 87px;
    right: 274px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
}
footer>:nth-child(3)>address>li>i{
    margin-right: 12px;
}
footer>:nth-child(3)>:nth-child(5){
    position: absolute;
    bottom: 142px;
    right: 160px;
}
footer>:nth-child(3)>:nth-child(5)>li>a{
    display: inline-block;
    text-decoration: none;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
footer>:nth-child(3)>:nth-child(6){
    position: absolute;
    bottom: 65px;
    right: 227px;
    display: inline-block;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
footer>:nth-child(3)>:nth-child(6)>i{
    margin-right: 12px;
}
footer>:nth-child(3)>:nth-child(7){
    position: absolute;
    bottom: 20px;
    left: 518px;
    font-family: 'SeoulHangang CB';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

/*@media all and (min-width: 1440px) and (max-width: 2560px){
    main>:nth-child(3)>:nth-child(8) {
        left: 83px;
    }
    main>:nth-child(3)>:nth-child(7) {
        left: 117px;
    }
    main>:nth-child(3)>:nth-child(6) {
        left: 151px;
    }
}*/
@media all and (min-width: 768px) and (max-width: 1024px){
    main>:nth-child(1)>article>:nth-child(2) {
        left: 130px;
        top: 222px;
        font-size: 36px;
    }
    main>:nth-child(1)>article>:nth-child(1) {
        left: 131px;
        font-size: 36px;
    }
    main>:nth-child(1)>article>:nth-child(3) {
        left: 132px;
        top: 290px;
    }
    main>:nth-child(1)>nav>button {
        left: 132px;
        top: 373px;
        height: 34px;
        width: 108px;
    }
    main>:nth-child(1)>nav>button>a {
        font-size: 13px;
    }
    #sosial {
        left: 134px;
        top: 458px;
    }
    main>:nth-child(1)>aside>img {
        right: 116px;
        top: 198px;
        height: 305px;
    }
    main>:nth-child(2)>aside>img {
        top: 130px;
        left: 110px;
        height: 360px;
    }
    main>:nth-child(2)>h2 {
        left: 281px;
        top: 100px;
        font-size: 32px;
    }
    main>:nth-child(2)>h3 {
        left: 120px;
        top: 140px;
    }
    main>:nth-child(2)>:nth-child(4) {
        left: 528px;
        top: 55px;
        font-size: 15px;
    }
    main>:nth-child(2)>:nth-child(5) {
        left: 42px;
        top: 151px;
        font-size: 15px;
    }
    main>:nth-child(2)>:nth-child(6) {
        top: 210px;
        left: -436px;
        font-size: 22px;
    }
    main>:nth-child(2)>:nth-child(7) {
        top: 128px;
        left: 675px;
        font-size: 22px;
    }
    main>:nth-child(2)>:nth-child(8) {
        top: 182px;
        left: 192px;
        font-size: 22px;
    }
    main>:nth-child(2)>:nth-child(9) {
        top: 416px;
        left: 751px;
        font-size: 22px;
    }
    main>:nth-child(2)>:nth-child(10)>a {
        bottom: 77px;
        left: 497px;
        font-size: 22px;
    }
    main>:nth-child(3)>h1 {
        left: 39%;
        font-size: 38px;
        top: -30px;
    }
    main>:nth-child(3)>:nth-child(2) {
        top: 122px;
        right: -270px;
        width: 444px;
        height: 88px;
    }
    main>:nth-child(3)>:nth-child(2)>img {
        top: 20px;
        left: 31px;
        height: 50px;
    }
    main>:nth-child(3)>:nth-child(2)>article>h2 {
        top: -4px;
        right: 77px;
        font-size: 18px;
    }
    main>:nth-child(3)>:nth-child(2)>article>h3 {
        top: 18px;
        right: 73px;
        font-size: 16px;
    }
    main>:nth-child(3)>:nth-child(2)>article>h4 {
        top: 35px;
        right: 106px;
        font-size: 16px;
    }
    main>:nth-child(3)>:nth-child(6) {
        top: -33px;
        left: -394px;
        width: 20px;
        height: 20px;
    }
    main>:nth-child(3)>:nth-child(5) {
        width: 7px;
    }
    main>:nth-child(3)>:nth-child(3) {
        top: 122px;
        left: 29px;
        width: 444px;
        height: 88px;
    }
    main>:nth-child(3)>:nth-child(3)>img {
        top: 18px;
        left: 30px;
        height: 56px;
    }
    main>:nth-child(3)>:nth-child(3)>h2 {
        top: 4px;
        right: 24px;
        font-size: 18px;
    }
    main>:nth-child(3)>:nth-child(3)>h3 {
        top: 28px;
        right: 151px;
        font-size: 16px;
    }
    main>:nth-child(3)>:nth-child(4) {
        top: 259px;
        left: 98px;
        width: 444px;
        height: 88px;
    }
    main>:nth-child(3)>:nth-child(4)>img {
        top: 19px;
        left: 31px;
        height: 56px;
    }
    main>:nth-child(3)>:nth-child(4)>h2 {
        top: 4px;
        right: 21px;
        font-size: 18px;
    }
    main>:nth-child(3)>:nth-child(4)>h3 {
        top: 29px;
        right: 154px;
        font-size: 16px;
    }
    main>:nth-child(3)>:nth-child(7) {
        top: 89px;
        left: -418px;
        width: 20px;
        height: 20px;
    }
    main>:nth-child(3)>:nth-child(8) {
        top: 226px;
        left: -442px;
        width: 20px;
        height: 20px;
    }
    main>:nth-child(4)>:nth-child(2) {
        left: 74px;
        width: 85vw;
        height: 395px;
    }
    main>:nth-child(4)>:nth-child(2)>section {
        left: 35px;
        width: 105px;
        height: 105px;
    }
    main>:nth-child(4)>:nth-child(2)>section>img {
        top: 8px;
        left: 12px;
        height: 70px;
    }
    main>:nth-child(4)>:nth-child(2)>section>p {
        font-size: 14px;
        position: relative;
        top: -8px;
    }
    #Skills {
        font-size: 38px;
    }
    #What\ i\ can\ do {
        top: 15px;
        font-size: 38px;
    }
    main>:nth-child(4)>:nth-child(4)>section>article>h4 {
        font-size: 22px;
    }
    main>:nth-child(4)>:nth-child(4)>section>article>p {
        font-size: 18px;
    }
    main>:nth-child(4)>:nth-child(4)>section {
        width: 285px;
        height: 328px;
    }
    #Gallery {
        top: 20px;
        font-size: 38px;
    }
    main>:nth-child(5)>div>:nth-child(1) {
        top: 10px;
        left: 18px;
        height: 310px;
    }
    main>:nth-child(5)>div>:nth-child(2) {
        top: 40px;
        left: 31px;
        height: 400px;
    }
    main>:nth-child(5)>div>:nth-child(3) {
        top: 10px;
        left: -40px;
        height: 310px;
    }
    main>:nth-child(5)>div>:nth-child(4) {
        top: -72px;
        left: 37px;
        height: 410px;
    }
    main>:nth-child(5)>div>:nth-child(5) {
        top: 46px;
        left: -14px;
        height: 275px;
    }
    main>:nth-child(5)>div>:nth-child(6) {
        top: -70px;
        left: -2px;
        height: 410px;
    }
    main>:nth-child(6)>section>div>img{
        height: 220px;
    }
    main>:nth-child(6)>section>div>h4 {
        font-size: 18px;
    }
    main>:nth-child(6) {
        height: 490px;
    }

}
